.page-container
  display flex
  flex 1 0 auto
  flex-direction column

.header
  flex none
  font-weight bold
  padding 10px 0

.tasks-container
  flex 1 0 auto
  display flex

.assigned-tasks-container
  display flex
  flex 2 1 auto
  flex-direction column
  padding 0 15px

.unassigned-tasks-container
  display flex
  flex-direction column
  border-left 2px solid lightgray
  flex 1 1 auto
  padding 0 15px

	.section-label
    flex none

.no-tasks-added, .added-tasks
	flex 1 0 auto
	margin 15px 10px

.no-tasks-added
	display flex
	justify-content center
	align-items center
	border 2px solid gray
	background lavender

.task-wrapper
  margin 15px 0

.agenda
  border-left 10px solid green
  flex 1 0 auto
  position relative
