html, body, #root, .App
  height 100%


.App
  display flex

.App-side-nav
  flex none
  width 85px
  transition width 300ms linear 300ms
  position relative
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;

  &.expanded
    width 230px

.app-body
  flex 1 0 auto

.nav-item
  padding 20px

  &.active
    background lightgray !important

.side-nav-header
  
  .nav-logo
    float left

  .header
    border-bottom 2px solid lightgray !important
    padding 20px
    height 71px

    .logo
      background url('./mentalist-v1.svg')
      background-size cover
      width 50px
      height 50px
      float right
      font-size 50px
      position relative
      top -8px
      left 0
      transition left 100ms linear 300ms

    .label
      display inline-block
      font-size 20px
      font-weight bold
      position relative
      text-align center
      top 9px
      width 0px
      height 0
      overflow hidden
      transition height, width 200ms linear 300ms

  &.expanded
    .header
      .logo
        left -20px

      .label
        width 50%
        height 20px

.side-nav-contents

  .header
    font-weight bold

  .collapsed-menu
    height 48px
    padding-left 8px
    transition height, padding 100ms linear 0ms

  .full-menu

    .toggle-view
      padding 0
      height 0
      overflow hidden
      transition height, padding 100ms linear 0ms

      .header
        padding 0 20px 20px 0

    .journals
      .header
        padding 20px 0
   

  .material-icons
    float right

  .nav-item
    height 48px

    .label
      display inline-block
      width 0px
      height 0
      overflow hidden
      transition height, width 100ms linear 300ms

  &.expanded
    .collapsed-menu
      height 0
      padding 0
      overflow hidden
      transition-delay 600ms

    .full-menu
      .toggle-view
        height 200px
        padding 16px
        transition-delay 600ms

    .nav-item
      .label
        width 40%
        height auto

.side-nav-header
  .title
    display inline-block
    float right
    font-size 18px
    font-weight bold
    overflow hidden
    position relative
    width 75%
    height 100%
    top 9px
    transition width,height 100ms linear 600ms

  &.hidden
    .title
      width 0px
      height 0px

.horizontal-nav
  height 71px

  .toggle-collapse
    background lightgray
    padding 10px
    position: absolute;
    left 0
    top 0
    bottom 0
    line-height 51px

    &:hover
      cursor pointer

    .material-icons
      font-weight bold
      line-height 51px

  .actions
    .item
      display inline
      line-height 51px
      padding 0 10px
