html, body, #root, .App
  height 100%


.App
  display flex

.App-side-nav
  flex none
  width 68px
  transition width 300ms linear 300ms
  position relative
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;

  &.expanded
    width 200px

.app-body
  flex 1 0 auto

.nav-item
  padding 20px

.side-nav-header
  
  .nav-logo
    float left

  .header
    padding 20px
    height 50px

    .label
      display inline-block
      font-size 18px
      font-weight bold
      position relative
      text-align center
      top 4px
      width 0px
      height 0
      overflow hidden
      transition height, width 100ms linear 300ms

  &.expanded
    .header
      .label
        width 50%
        height 20px

.side-nav-contents
  
  .nav-logo
    float right

  .toggle-journal
    transition height 100ms linear 0ms !important
    height 0
    overflow hidden

  .nav-item
    height 48px

    .label
      display inline-block
      width 0px
      height 0
      overflow hidden
      transition height, width 100ms linear 300ms

  &.expanded
    .toggle-journal
      height 48px
      transition-delay 600ms !important

    .nav-item
      .label
        width 40%
        height auto

.App-logo
  display inline
  height 25px

.side-nav-header
  .title
    display inline-block
    float right
    font-size 18px
    font-weight bold
    overflow hidden
    position relative
    width 75%
    height 100%
    top 9px
    transition width,height 100ms linear 600ms

  &.hidden
    .title
      width 0px
      height 0px

.App-header
  background-color #222
  height 150px
  padding 20px
  color white

.toggle-collapse
  background gray
  height 51px
  width 15px
  line-height 51px
  position absolute
  top 0
  right -35px
  padding 10px

  &:hover
    cursor pointer
